<div class="col-lg-12">
    <div class="ibox float-e-margins htmlBody2">
        <div class="ibox-title">
            <!--<h5>查询条件</h5>-->
            <label>年月:</label>
            <i class="fa fa-calendar"></i>
            <input type="text" value="2014-04">
            <input class="btn btn-sm btn-primary" type="button" value="查询"/>
            <input class="btn btn-sm btn-primary" type="button" value="导出"/>
        </div>
        <div class="ibox-content">
            <center><h2>资产负债表</h2></center>
            <label>编制单位</label>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>年度</label>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>月份</label>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>金额单位：元</label>
            <div class="row table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>行政单位</th>
                        <th>行次</th>
                        <th>年初数</th>
                        <th>月末数</th>
                        <th>事业单位</th>
                        <th>行次</th>
                        <th>年初数</th>
                        <th>月末数</th>
                        <th>企业化管理事业单位</th>
                        <th>行次</th>
                        <th>年初数</th>
                        <th>月末数</th>
                        <th>民间非盈利组织</th>
                        <th>行次</th>
                        <th>年初数</th>
                        <th>月末数</th>
                    </tr>
                    </thead>
                    <tbody id="table_data">
                    <tr>
                        <td>栏次</td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>栏次</td>
                        <td></td>
                        <td>3</td>
                        <td>4</td>
                        <td>栏次</td>
                        <td></td>
                        <td>5</td>
                        <td>6</td>
                        <td>栏次</td>
                        <td></td>
                        <td>7</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>一、资产合计</td>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td>一、资产合计</td>
                        <td>51</td>
                        <td></td>
                        <td></td>
                        <td>一、资产合计</td>
                        <td>101</td>
                        <td></td>
                        <td></td>
                        <td>一、资产合计</td>
                        <td>151</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>